.home-section {
  position: relative;
  min-height: 100vh;
  background: url('/images/collage.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.slideshow-container {
  width: 100%;
  max-width: 960px;
  aspect-ratio: 16/9;
  margin: 0 auto;
  background: #0098da;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.slideshow-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 70vh;
}

.slide-text {
  font-size: 2rem;
  color: white;
  padding: 10%;
  border-radius: 12px;
  text-align: center;
  min-height: 50vh;
  max-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-caption {
  background: rgba(0,0,0,0.5);
  padding: 1rem;
  border-radius: 8px;
}

.scroll-down {
  margin-top: 2rem;
  background: #0098da;
  border-radius: 50px;
  padding: 0.75rem 1.5rem;
  font-size: clamp(1rem,2vw,1.2rem);
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 152, 218, 0.5);
  transition: background 0.3s;
}

.scroll-down .btn-scroll {
  color: #fff;
  text-decoration: none;
}

.scroll-down:hover {
  background: #ffffff;
}

.scroll-down:hover .btn-scroll {
  color: #0098da;
}

@media (max-width: 600px) {
  .slideshow-container {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .slide-text {
    min-height: 15vh;
    padding: 6%;
  }
  
  .slide-text h2 {
    font-size: 0.8rem !important;
    line-height: 1.4;
  }
  
  .carousel-caption h3 {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 400px) {
  .slideshow-container {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .slide-text {
    min-height: 15vh;
    padding: 6%;
  }
  
  .slide-text h2 {
    font-size: 0.7rem !important;
    line-height: 1.4;
  }
  
  .carousel-caption h3 {
    font-size: 0.8rem !important;
  }
}

.mobile-scroll-instruction {
  display: none;
  position: static !important; /* Changed to static for mobile view */
  margin-top: 1rem; /* Small margin below the Go To Statistics button */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  border-color: #0098da;
  font-size: 0.9rem;
  text-align: center;
  width: 90%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  box-shadow: 0 0 10px #0098da; /* Added outer glow */
}

@media (max-width: 768px) {
  .mobile-scroll-instruction {
    display: block !important; /* Added !important to ensure display */
    padding-bottom: 10px;
    visibility: visible !important; /* Ensure visibility */
  }
}
