.national-stats-container {
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 32px rgba(31, 38, 135, 0.37);
}

.national-stats-title {
  background: rgba(0, 0, 102, 0.8); 
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 10px;
}

.national-stats-table {
  width: 100%;
  border-collapse: collapse;
}

.national-stats-table thead tr {
  background: rgba(153, 204, 255, 0.5); 
}

.national-stats-table th {
  padding: clamp(6px, 2vw, 12px);
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  font-weight: 600;
  font-style: italic;
  font-size: clamp(0.9rem, 2.5vw, 1.1rem);
}
.national-stats-table td {
  padding: clamp(6px, 2vw, 12px);
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  font-weight: 600;
  font-size: clamp(0.9rem, 2.5vw, 1.1rem);
}

.national-stats-table tbody tr:nth-child(even) {
  background: rgba(242, 242, 242, 0.3);
}

.map-bar-chart {
  width: 41%;
  min-width: 320px;
  height: 400px;
  /* ... */
}

@media (max-width: 1024px) {
  .map-bar-chart {
    width: 98vw !important;
    height: 240px !important;
    min-width: 0;
    padding: 8px !important;
  }
}