/*src\components\SriLankaMapThree.css*/
.label {
    color: rgb(48, 225, 248);
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 50%;
    pointer-events: none;
    font-weight: 500;
  }